swagger: "2.0"
info:
  version: 1.1.0
  title: IO Function API
  contact:
    name: IO team
    url: https://forum.italia.it/c/progetto-io
  x-logo:
    url: https://io.italia.it/assets/img/io-logo-blue.svg
  description: >
    Documentation of the IO Function API here.
host: api.cd.italia.it
basePath: "/template"
schemes:
  - https
security:
  - SubscriptionKey: []
paths:
  /info:
    get:
      operationId: getApplicationInfo
      summary: Retrieve current application info
      description: >-
        Retrieve current application info to confirm the application is up and able to serve requests.
        Errors mean the application is broken.
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/ApplicationInfo"
        "500":
          description: Generic server error
          schema:
            $ref: "#/definitions/ProblemJson"
      security: []
definitions:
  ApplicationInfo:
    type: object
    properties:
      name: 
        type: string
      version: 
        type: string
    required:
      - name
      - version
  ProblemJson:
    type: object
    properties:
      type:
        type: string
        format: uri
        description: |-
          An absolute URI that identifies the problem type. When dereferenced,
          it SHOULD provide human-readable documentation for the problem type
          (e.g., using HTML).
        default: about:blank
        example: https://example.com/problem/constraint-violation
      title:
        type: string
        description: |-
          A short, summary of the problem type. Written in english and readable
          for engineers (usually not suited for non technical stakeholders and
          not localized); example: Service Unavailable
      status:
        type: integer
        format: int32
        description: >-
          The HTTP status code generated by the origin server for this
          occurrence
          of the problem.
        minimum: 100
        maximum: 600
        exclusiveMaximum: true
        example: 200
      detail:
        type: string
        description: |-
          A human readable explanation specific to this occurrence of the
          problem.
        example: There was an error processing the request
      instance:
        type: string
        format: uri
        description: >-
          An absolute URI that identifies the specific occurrence of the
          problem.
          It may or may not yield further information if dereferenced.
securityDefinitions:
  SubscriptionKey:
    type: apiKey
    name: X-Functions-Key
    in: header